<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <Main>
            <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in receipt %}
                    <tr>
                        <td>{{ subject.vendor }}</td>
                        <td>{{ subject.total }}</td>
                        <td>{{ subject.tax }}</td>
                        <td>{{ subject.date|date:"m/d/y" }}</td>
                        <td>{{ subject.category }}</td>
                        <td>{{ subject.account }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

    </Main>
</body>
</html>
